@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup{
    background-color: v.$lightRed;
    padding: 5rem 0;

    h3, p {
        text-align: center;
        color: v.$white;
    }

    .day{
        text-transform: uppercase;
        margin: 5rem 0;
    }
}

.stageContainer{
    @include m.tablet{
        @include m.grid(2, 5rem);
    }

    p{
        color: v.$black;
        font-weight: 700;
    }
}

.stage{
    padding-top: 2rem;

    .nameStage{

        &:after{
            content: '';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2rem auto 0 auto;
        }
    }
}

.Reggaeton .nameStage:after{
    background-image: url(../img/icono_rock.png);
}

.EDM .nameStage:after{
    background-image: url(../img/icono_edm.png);
}

.calendary{
    @include m.resetList;
    li{
        padding: 2.5rem;
        font-weight: 700;
        span{
            font-weight: 400;
        }
    }
}

.bg1{
    background-color: v.$yellow;
    li:nth-child(odd){
        background-color: darken(v.$yellow, 20%);
    }
}

.bg2{
    background-color: v.$lightGreen;
    li:nth-child(odd){
        background-color: darken(v.$lightGreen, 10%);
    }
}