@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;

    .overlay{
        position: absolute;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(165,3,255,0.5) 35%, rgba(0,212,255,1) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    video{
        width: auto;
        display: block;
        @include m.desktop{
            width: 100%;
        }
    }

    .videoContent{
        z-index: 10;
        margin-left: 3rem;

        h2{
            color: v.$white;
            font-size: 7rem;
        }

        p{
            background-color: v.$lightRed;
            display: inline-block;
            padding: 1rem 2rem;
            color: v.$white;
            font-weight: 700;
            font-size: 2.4rem;
            margin: 0;
        }
    }
}