@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
    position: relative;
    .overlay{
        position: absolute;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(165,3,255,0.5) 35%, rgba(0,212,255,1) 100%);
        height: 100%;
        width: 100%;
    }

    video{
        width: 100%;
        display: block;
    }
}